@model ConsoleApp_StudentManagementSystem.Models.Student

<h2>Student Details</h2>

<table class="table">

    <tr>
        <th>Roll Number</th>
        <td>@Model.RollNumber</td>
    </tr>

    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>

    <tr>
        <th>Maths</th>
        <td>@Model.Maths</td>
    </tr>

    <tr>
        <th>Physics</th>
        <td>@Model.Physics</td>
    </tr>

    <tr>
        <th>Chemistry</th>
        <td>@Model.Chemistry</td>
    </tr>

    <tr>
        <th>English</th>
        <td>@Model.English</td>
    </tr>

    <tr>
        <th>Programming</th>
        <td>@Model.Programming</td>
    </tr>

    <tr>
        <th>Total Marks</th>
        <td>@Model.TotalMarks</td>
    </tr>

    <tr>
        <th>Percentage</th>
        <td>@Model.Percentage %</td>
    </tr>

</table>

<a asp-action="List"
   class="btn btn-secondary">
    Back
</a>